body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background: #150FA9;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.header-box 
{
  background: #F5F9FF;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.header-box h1
{
  margin: 0;
  margin-left: 20px;
  font-size: 50px;
  font-weight: 900;
  color: #373763;
}

.about-button
{
  margin: 0;
  margin-right: 20px;
  background: #9C9CC8;
  color: white;
  border-radius: 8px;
  padding: 12px 40px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  transition: background 0.2s, transform 0.15s;
}

.about-button:hover
{
  background:#373763;
}

.center-screen 
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.gator-background
{
  overflow: hidden;
  background-image: url('../public/blueGatas.png');
  background-color:#150FA9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.center-wrapper 
{
  margin-bottom: 70px;
  background: white;
  border-radius: 8px;
  padding: 30px 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;  /* Maximum width on large screens */
  width: 90%;        /* Takes 90% of screen width on small screens */
}

.center-wrapper h1{
  color: #373763;
  margin-top: 0;
  font-size: 30px;  
  font-weight: 800;
}

.center-wrapper h2 
{
  color: #373763;
  margin-top: 0;
  font-size: 24px;
  font-weight: 600;
}

.center-wrapper h3
{
  color: #373763;
  font-size: 24px;
}

.center-wrapper p
{
  color: #171717;
  font-size: 15px;
}

.center-wrapper input[type="file"] 
{
  padding: 10px;
  border: 2px dashed #150FA9;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
}

.center-wrapper button
{
  background: #9C9CC8;
  color: white;
  padding: 12px 40px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  transition: background 0.2s;
}

.center-wrapper button:hover 
{
  background: #545496;
}

.center-wrapper li
{
  text-align: left;
}

.custom-file-button 
{
  display: block;
  padding: 15px;
  border: 2px dashed #150FA9;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  text-align: center;
  color: #150FA9;
  font-weight: 500;
  margin-bottom: 20px;
  transition: all 0.3s;
}

.custom-file-button:hover 
{
  background: #9C9CC8;
}

.nav-links {
  background: #f5f5f5;
  padding: 15px;
  display: flex;
  gap: 80px;
  justify-content: center;
}

.nav-links a {
  color: #150FA9;
  text-decoration: none;
  font-weight: 600;
}

.nav-links a:hover {
  text-decoration: underline;
}

.hover-box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: white;
  color: #373763;
  border: 1px solid #150fa9;
  border-radius: 8px;
  padding: 5px 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1000;
  width: 220px;
}
.hover-box .label {
  font-weight: 750;
}
.hover-box .extra {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  margin-top: 8px;
  padding-bottom: 15px;
}
.hover-box:hover {
  padding: 16px 20px;
}
.hover-box:hover .extra {
  max-height: 360px;
}

.switch-login-button {
  background: #9C9CC8;
  color: white;
  padding: 12px 40px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  /* may need to revisit this */
  position: absolute;
  bottom: 0;
  right: 0;
}

.switch-login-button:hover {
  background: #A13515;
}

.dashboard-background {
  overflow: hidden;
  background-image: url('../public/blueGatas.png');
  background-color:#150FA9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.right-side {
  margin-left: auto;
  margin-right: 2vw;
  margin-bottom: 3vw;
}

.left-side {
  margin-right: auto;
  margin-left: 3vw;
  margin-bottom: 8vh;
}

.side-wrapper {
  background: white;
  padding: 20px 20px;
  border-radius: 2px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 200px;  /* Maximum width on large screens */
  width: 90%;        /* Takes 90% of screen width on small screens */
}

.side-wrapper button {
  background: #9C9CC8;
  color: white;
  padding: 20px 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  width: 80%;
}

.side-wrapper h3 {
  color: #150FA9;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 28px;
}

.menu-container {
  position: relative;
  margin-right: 20px;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background: #373763;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 40px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-width: 150px;
  z-index: 1000;
}

.dropdown-menu a,
.dropdown-menu button {
  padding: 10px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  color: #373763;
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
  transition: background 0.2s;
}

.dropdown-menu a:hover,
.dropdown-menu button:hover {
  background: #f0f0f0;
  border-radius: 8px;
}